*.d
*.o
ucode.png
*.elf
include/
lib/
kernel/usermain/
kernel/tstdlib/
kernel/tkernel/
kernel/sysinit/
kernel/sysdepend/
kernel/knlinc/
kernel/inittask/
etc/
device/
config/
build_make/
.settings/language.settings.xml
.settings/org.eclipse.cdt.core.prefs
